<h1>{{title}}</h1>

<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-accordion>
    <ng-container *ngFor="let section of moduleForm.sections">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{section.header}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-row"  *ngFor="let row of section.rows | keyvalue: originalOrder">
          <ng-container *ngFor="let input of row.value" [ngSwitch]="input.input.kind">
            <cops-options-input
              *ngSwitchCase="'options'"
              ngDefaultControl
              [input]="asOptions(input.input)"
              [formControl]="formControl(input.input.attr)">
            </cops-options-input>
            <cops-multiple-options-input
              *ngSwitchCase="'multiple-options'"
              ngDefaultControl
              [input]="asMultipleOptions(input.input)"
              [formControl]="formControl(input.input.attr)">
            </cops-multiple-options-input>
            <cops-read-only-input
              *ngSwitchCase="'read-only'"
              ngDefaultControl
              [input]="asReadOnly(input.input)"
              [formControl]="formControl(input.input.attr)">
            </cops-read-only-input>
            <cops-boolean-input
              *ngSwitchCase="'boolean'"
              ngDefaultControl
              [input]="asBoolean(input.input)"
              [formControl]="formControl(input.input.attr)">
            </cops-boolean-input>
            <cops-plain-input
              *ngSwitchDefault
              ngDefaultControl
              [input]="asTextInput(input.input)"
              [formControl]="formControl(input.input.attr)">
            </cops-plain-input>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <div>
    <button type="button" mat-flat-button (click)="cancel()">Abbrechen</button>
    <button mat-flat-button color="primary" [disabled]="!formGroup.valid">{{buttonTitle}}</button>
    <button type="button" mat-flat-button (click)="validate()">Validieren</button>
  </div>
</form>
