<h2>{{ title }}</h2>
<form [formGroup]="formGroup">
  <mat-accordion>
    @for (
      section of moduleForm.sections;
      track section;
      let indexOfElement = $index
    ) {
      <mat-expansion-panel [expanded]="indexOfElement === 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ section.header }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (row of section.rows | keyvalue: originalOrder; track row) {
          <div class="container-row">
            @for (input of row.value; track input) {
              @switch (input.input.kind) {
                @case ("options") {
                  <cops-options-input
                    ngDefaultControl
                    [input]="asOptions(input.input)"
                    [formControl]="formControl(input.input.attr)">
                  </cops-options-input>
                }
                @case ("multiple-options") {
                  <cops-multiple-options-input
                    ngDefaultControl
                    [input]="asMultipleOptions(input.input)"
                    [formControl]="formControl(input.input.attr)">
                  </cops-multiple-options-input>
                }
                @case ("read-only") {
                  <cops-read-only-input
                    ngDefaultControl
                    [input]="asReadOnly(input.input)"
                    [formControl]="formControl(input.input.attr)">
                  </cops-read-only-input>
                }
                @case ("boolean") {
                  <cops-boolean-input
                    ngDefaultControl
                    [input]="asBoolean(input.input)"
                    [formControl]="formControl(input.input.attr)">
                  </cops-boolean-input>
                }
                @default {
                  <cops-plain-input
                    ngDefaultControl
                    [input]="asTextInput(input.input)"
                    [formControl]="formControl(input.input.attr)">
                  </cops-plain-input>
                }
              }
            }
          </div>
        }
      </mat-expansion-panel>
    }
  </mat-accordion>
</form>
