form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.expansion-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.language-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mat-stepper-vertical {
  background-color: transparent;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-row > * {
  flex-grow: 1;
}
