<table mat-table [dataSource]="dataSource">
  <!-- Name -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Semester</th>
    <td mat-cell *matCellDef="let moduleCatalog">
      <span>
        {{ moduleCatalog.semester.deLabel }} {{ moduleCatalog.semester.year }}
      </span>
    </td>
  </ng-container>
  <!-- Study Program -->
  <ng-container matColumnDef="study_program">
    <th mat-header-cell *matHeaderCellDef>Studiengang</th>
    <td mat-cell *matCellDef="let moduleCatalog">
      <mat-chip>{{
        moduleCatalog.studyProgram | studyProgram: "withoutPO"
      }}</mat-chip>
    </td>
  </ng-container>
  <!-- PO -->
  <ng-container matColumnDef="po">
    <th mat-header-cell *matHeaderCellDef>Prüfungsordnung</th>
    <td mat-cell *matCellDef="let moduleCatalog">
      {{ moduleCatalog.studyProgram.po.version }}
    </td>
  </ng-container>
  <!-- Actions -->
  <ng-container matColumnDef="download_de">
    <th mat-header-cell *matHeaderCellDef>Download Deutsch</th>
    <td mat-cell *matCellDef="let moduleCatalog">
      <div class="inline">
        <a
          [href]="absoluteUrl(moduleCatalog.deUrl)"
          target="_blank"
          [class.disabled-link]="!moduleCatalog.deUrl">
          <button mat-stroked-button [disabled]="!moduleCatalog.deUrl">
            <mat-icon>open_in_new</mat-icon>
            Deutsch
          </button>
        </a>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="download_en">
    <th mat-header-cell *matHeaderCellDef>Download English</th>
    <td mat-cell *matCellDef="let moduleCatalog">
      <div class="inline">
        <a
          [href]="absoluteUrl(moduleCatalog.enUrl)"
          target="_blank"
          [class.disabled-link]="!moduleCatalog.enUrl">
          <button mat-stroked-button [disabled]="!moduleCatalog.enUrl">
            <mat-icon>open_in_new</mat-icon>
            English
          </button>
        </a>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
