<mat-form-field class="container-fluid" appearance="fill" ngDefaultControl>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="search"
    [placeholder]="label"
    [formControl]="formControl"
    [matAutocomplete]="auto" />
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="resetFilter($event)">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="selectOption($event.option.value)"
    [displayWith]="displayFn">
    @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">
        {{ displayFn(option) }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
