@if (moduleForm) {
  <main>
    <cops-module-form
      [moduleForm]="moduleForm"
      [formGroup]="formGroup"></cops-module-form>
  </main>
  <aside>
    <mat-tab-group>
      <mat-tab i18n-label label="Änderungen">
        <cops-list-of-changes
          [changedKeys]="modifiedKeys"></cops-list-of-changes>
      </mat-tab>
      <mat-tab i18n-label label="Kommentare">
        <cops-list-of-comments [approvals]="approvals"></cops-list-of-comments>
      </mat-tab>
    </mat-tab-group>
    <cops-module-form-actions
      [saveAction]="save"
      [cancelAction]="cancel"
      [isValid]="isValid"
      [updateInProcess]="updateInProcess$ | async"></cops-module-form-actions>
  </aside>
}
