<main>
  <h1>Modulaktualisierung</h1>
  <small>{{id}}</small>
  <cops-module-form
    *ngIf="moduleForm"
    [moduleForm]="moduleForm"
    [onCancel]="cancel"
    [onSubmit]="submit"
  ></cops-module-form>
  <!-- <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          General
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content">
        <div class="language-container">
          <mat-form-field class="example-full-width">
            <mat-label>Modulbezeichnung</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Art des Moduls</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Modulverantwortliche*r</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Prüfungsformen</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>ECTS credits</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Verantwortliche
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content">
        <div class="language-container">
          <mat-form-field class="example-full-width">
            <mat-label>Workload (de-de)</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Präsenzzeit (de-de)</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Selbststudium (de-de)</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="language-container">
          <mat-form-field class="example-full-width">
            <mat-label>Workload (en-us)</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Präsenzzeit (en-us)</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Selbststudium (en-us)</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Examination Method
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content">
        <div class="language-container">
          <mat-form-field class="example-full-width">
            <mat-label>Dozierende*r</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Dauer des Moduls</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Häufigkeit des Angebots</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Sprache</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Voraussetzungen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content">
        <div class="language-container">
          <mat-form-field class="example-full-width">
            <mat-label>Empfohlene Voraussetzungen</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Zwingende Voraussetzungen</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Inhalt
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-content">
        <div class="language-container">
          <mat-form-field>
            <mat-label>Angestrebte Lernergebnisse</mat-label>
            <textarea matNativeControl></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Modulinhalte</mat-label>
            <textarea matNativeControl></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lehr- und Lernmethoden (Medienformen)</mat-label>
            <textarea matNativeControl></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Empfohlene Literatur</mat-label>
            <textarea matNativeControl></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Besonderheiten</mat-label>
            <textarea matNativeControl></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <form>


  </form> -->

</main>
<!-- <aside>
  <div>
    <h1>Info</h1>
    <mat-card>
      <mat-card-content>Your change Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, facilis eligendi
        natus sapiente deserunt quisquam quaerat quia deleniti hic, commodi, earum velit saepe sunt sint? Asperiores
        placeat tenetur quae excepturi.
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h1>Versionierung</h1>
    <mat-selection-list #versionOverview [multiple]="false">
      <mat-list-option *ngFor="let version of versions" [value]="version.index" [selected]="version.index === 6">
        <mat-icon matListItemIcon style="transform: rotate(90deg)">commit</mat-icon>
        <div matListItemTitle>{{version.title}}</div>
        <div matListItemLine>{{version.status}}</div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="spacer"></div>
  <div class="actions">
    <button mat-button>Cancel</button>
    <button mat-flat-button cdkFocusInitial color="primary">Save</button>
  </div>
</aside> -->
