:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 0;
}

main {
  background-color: #fff;
  flex-grow: 1;
  width: 100%;
  padding: 2em;
  height: 100%;
  overflow-y: scroll;
}

aside {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 500px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

mat-tab-group{
  flex-grow: 1;
}