<main>
  @if (moduleForm) {
    <cops-module-form
      [moduleForm]="moduleForm"
      [formGroup]="formGroup"
      mode="REVIEW">
      @if (mergeRequestUrl) {
        <button
          i18n
          mat-stroked-button
          color="primary"
          (click)="openUrl(mergeRequestUrl)">
          <mat-icon>difference</mat-icon>
          Diff auf Gitlab anzeigen
        </button>
      }
    </cops-module-form>
  }
</main>
<aside>
  <mat-tab-group>
    <mat-tab i18n-label label="Änderungen">
      <cops-list-of-changes [changedKeys]="modifiedKeys"></cops-list-of-changes>
    </mat-tab>
    <mat-tab i18n-label label="Kommentare">
      <cops-list-of-comments [approvals]="approvals"></cops-list-of-comments>
    </mat-tab>
  </mat-tab-group>

  <cops-module-review-actions
    [approveAction]="approve"
    [rejectAction]="reject"
    [cancelAction]="cancel"></cops-module-review-actions>
</aside>
