<mat-form-field class="container-fluid" appearance="fill">
  <mat-label>{{ input.label }}</mat-label>
  @if (isTextArea()) {
    <textarea
      matInput
      [placeholder]="input.label"
      [type]="input.kind"
      [formControl]="formControl">
    </textarea>
  } @else {
    <input
      matInput
      [placeholder]="input.label"
      [type]="input.kind"
      [formControl]="formControl" />
  }
  @if (formControl.invalid) {
    <mat-error>{{ getErrorMessage() }}</mat-error>
  }
</mat-form-field>
