<div class="layout">
  <h1>Änderungen</h1>
  <table mat-table [dataSource]="getDataSource(modules$ | async)" class="mat-elevation-z1" matSort>
    <!-- Name -->
    <ng-container matColumnDef="module">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Modul
      </th>
      <td mat-cell *matCellDef="let element" ng-click="showModule(element.module.id)">
        <span (click)="showModule(element.module.id)" class="clickable">{{element.module.title}} ({{element.module.abbrev}})</span>
      </td>
    </ng-container>
    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip disabled>Sample</mat-chip>
      </td>
    </ng-container>
    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="inline">
          <button
            mat-stroked-button
            *ngIf="element[1] === undefined"
            (click)="editModule(element.module.id)"
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="true">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="true">
              <mat-icon>publish</mat-icon>
              Publish
            </button>
            <button mat-menu-item *ngIf="true">
              <mat-icon>approval</mat-icon>
              Request review
            </button>
            <button mat-menu-item *ngIf="true">
              <mat-icon>pause</mat-icon>
              Stop publication
            </button>
            <button mat-menu-item color="warn" *ngIf="true">
              <mat-icon>undo</mat-icon>
              Discard changes
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </table>
</div>