<main>
  <div class="headline">
    <h2 i18n>Meine Module</h2>
    <button
      i18n
      mat-stroked-button
      color="primary"
      (click)="navigateTo(['modules', 'new'])">
      <mat-icon>add</mat-icon>
      Neues Modul erzeugen
    </button>
  </div>
  @if (nonEmptyModules$ | async) {
    <p i18n>
      In den folgenden Modulen werden Sie als Modulverantwortliche*r geführt.
    </p>
    <p i18n>
      Sie können die Module bearbeiten und die Änderungen veröffentlichen oder
      zur Genehmigung freigeben. Eine Genehmigung ist nur bei Änderungen
      bestimmer Attribute notwendig.
    </p>
    <cops-my-modules-list [modules]="modules$ | async"></cops-my-modules-list>
  } @else {
    <p i18n>Sie werden in keinem Modul als Modulverantwortliche*r geführt.</p>
  }
</main>
