<div class="layout">
  <h1>Änderungen</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" matSort>
    <!-- Name -->
    <ng-container matColumnDef="module">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Modul
      </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/modules', element.id]">
          {{element.module}}
        </a>
      </td>
    </ng-container>
    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip disabled [color]="element.status.color">{{element.status.label}}</mat-chip>
      </td>
    </ng-container>
    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="inline">
          <button
            mat-stroked-button
            *ngIf="element.status.label==='Valid for review' || element.status.label==='Valid for publication' || element.status.label==='Invalid draft' || element.status.label==='Published'"
            [routerLink]="['/modules', element.id, 'edit']"
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="element.status.label==='Published'">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="element.status.label==='Valid for publication'">
              <mat-icon>publish</mat-icon>
              Publish
            </button>
            <button mat-menu-item *ngIf="element.status.label==='Valid for review'">
              <mat-icon>approval</mat-icon>
              Request review
            </button>
            <button mat-menu-item *ngIf="element.status.label==='Waiting for approval'||element.status.label==='Will be published on 12.12.2023'">
              <mat-icon>pause</mat-icon>
              Stop publication
            </button>
            <button mat-menu-item color="warn" *ngIf="element.status.label!=='Published'">
              <mat-icon>undo</mat-icon>
              Discard changes
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </table>
</div>