<main>
  @if (moduleForm) {
    <cops-module-form
      [moduleForm]="moduleForm"
      [formGroup]="formGroup"
      mode="CREATE" />
  }
</main>
<aside>
  <div class="info">
    <h3 i18n>Achtung!</h3>
    <p i18n>
      Das Modul wird erst den Genehmigungsprozess durchlaufen und erst im
      nächsten Semester in das Modulhandbuch aufgenommen.
    </p>
  </div>
  <cops-module-form-actions
    [isValid]="isValid"
    [cancelAction]="cancel"
    [saveAction]="save"
    [updateInProcess]="updateInProcess$ | async">
  </cops-module-form-actions>
</aside>
