.inline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .5em;
}

tr.clickable:hover {
  cursor: pointer;
  background: whitesmoke;
}

.align-right {
  text-align: right;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}
