.layout {
  display: flex;
  flex-direction: column;
  .containers {
    display: flex;
  }
  .content {
    display: flex;
    flex-direction: row;
  
    main {
      display: flex;
      flex-direction: row;
    }
  }
}

router-outlet {
  padding: 1em;
}

// sched-nav {
//   margin-bottom: 80px;
// }

// .main-content {
//   margin-top: 80px;
// }
