.layout {
  display: flex;
  flex-direction: column;
  .containers {
    display: flex;
  }
  .content {
    display: flex;
    flex-direction: row;
  
    main {
      display: flex;
      flex-direction: row;
    }
  }
}

.th-koeln-bar {
  display: flex;
  flex-direction: row;
  height: 4px;
  div {
    flex-grow: 1;
    &.red {
      background-color: #c81e0f;
    }
    &.orange {
      background-color: #ea5b0d;
    }
    &.purple {
      background-color: #b43092;
    }
  }
}

aside.app-rail {
  display: flex;
  flex-direction: column;
  min-width: 6em;
  font-size: .9em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.87);
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    hr {
      margin: 0;
      border-width: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.1);
    }
  }
  li  {
    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }
    
    a {
      color: inherit;
      user-select: none;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      list-style-type: none;
      height: 6em;
      align-items: center;
      justify-content: center;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  padding: 1em;
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .33em;
    li {
      h1 {
        text-transform: uppercase;
        font-size: .8em;
        color: rgba(0, 0, 0, 0.5);
      }

      &.item a {
        display: flex;
        flex-direction: row;
        gap: .5em;
        padding: .6em 1em;
        border-radius: 3em;
        transition: background-color .1s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          background-color: rgba(180, 48, 146, 0.1);
        }
        mat-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2em;
          color: rgba(0, 0, 0, 0.54);
        }
      }

      &.divider:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}

router-outlet {
  padding: 1em;
}

// sched-nav {
//   margin-bottom: 80px;
// }

// .main-content {
//   margin-top: 80px;
// }
