.layout {
  display: flex;
  flex-direction: column;

  mat-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    code {
      margin-left: 1em;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      padding: 0.1em 0.5em;
    }
  }

  .containers {
    display: flex;
  }
  .content {
    display: flex;
    flex-direction: row;
  
    main {
      display: flex;
      flex-direction: row;
    }
  }
}

router-outlet {
  padding: 1em;
}

// sched-nav {
//   margin-bottom: 80px;
// }

// .main-content {
//   margin-top: 80px;
// }
