<div class="layout">
  <cops-th-koeln-bar></cops-th-koeln-bar>
  <mat-toolbar>
    <span>COPS<code>Modules</code></span>
  </mat-toolbar>
  <div class="containers">
    <cops-app-rail [railItems]="railItems"></cops-app-rail>
    <mat-sidenav-container>
      <mat-sidenav opened mode="side">
        <cops-nav-bar [navItems]="navItems"></cops-nav-bar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <main>
            <sched-alert></sched-alert>
            <router-outlet></router-outlet>
          </main>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

