<mat-nav-list>
  @for (item of navItems; track $index) {
    @switch (item.type) {
      @case ("HEADER") {
        <div mat-subheader>{{ item.text }}</div>
      }
      @case ("LINK") {
        <div>
          <mat-list-item
            (click)="navigateTo(item.url)"
            [activated]="isActive(item.url.join('/'))">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <div matListItemTitle>{{ item.text }}</div>
          </mat-list-item>
        </div>
      }
    }
  }
</mat-nav-list>
