<h2>Search</h2>

<cops-module-compendiums-search-filter></cops-module-compendiums-search-filter>


<h2>Filter</h2>

<cops-module-compendiums-semester-filter></cops-module-compendiums-semester-filter>
<cops-module-compendiums-study-program-filter></cops-module-compendiums-study-program-filter>
<cops-module-compendiums-po-filter></cops-module-compendiums-po-filter>

<button mat-stroked-button
        color="primary"
        (click)="onResetFilter()"
        matTooltip="Filter zurücksetzen"
        matTooltipPosition="left">
  Filter zurücksetzen
</button>
