<table mat-table [dataSource]="dataSource">
  <!-- Name -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>
      Semester
    </th>
    <td mat-cell *matCellDef="let element">
      <span>
        {{ element.title }} ({{ element.semester }})
      </span>
    </td>
  </ng-container>
  <!-- Study Program -->
  <ng-container matColumnDef="study_program">
    <th mat-header-cell *matHeaderCellDef>
      Studiengang
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip>{{ element.studyProgram }}</mat-chip>
    </td>
  </ng-container>
  <!-- PO -->
  <ng-container matColumnDef="po">
    <th mat-header-cell *matHeaderCellDef>
      Prüfungsordnung
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip>{{ element.po }}</mat-chip>
    </td>
  </ng-container>
  <!-- Actions -->
  <ng-container matColumnDef="download_de">
    <th mat-header-cell *matHeaderCellDef>
      Download Deutsch
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="inline">
        <a [href]="element.germanDownloadLink" target="_blank" [class.disabled-link]="!element.germanDownloadLink">
          <button mat-stroked-button [disabled]="!element.germanDownloadLink">
            <mat-icon>open_in_new</mat-icon>
            Deutsch
          </button>
        </a>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="download_en">
    <th mat-header-cell *matHeaderCellDef>
      Download English
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="inline">
        <a [href]="element.englishDownloadLin" target="_blank" [class.disabled-link]="!element.englishDownloadLink">
        <button mat-stroked-button [disabled]="!element.englishDownloadLink">
          <mat-icon>open_in_new</mat-icon>
          English
        </button>
        </a>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
