<div class="actions">
  <button
    i18n
    #cancelButton
    type="button"
    mat-button
    (click)="cancelAction()">Abbrechen</button>
  <button
    mat-flat-button
    color="primary"
    (click)="saveAction()"
    [disabled]="!isValid() || updateInProcess_">
    <mat-spinner
      *ngIf="updateInProcess_; else showButton"
      [diameter]="spinnerDiameter"
      strokeWidth="2">
    </mat-spinner>
    <ng-template #showButton>
      <span i18n>Speichern</span>
    </ng-template>
  </button>
</div>
