<mat-form-field class="container-fluid" appearance="fill">
  <mat-label>{{ input.label }}</mat-label>
  <input
    matInput
    type="text"
    (focusout)="onFocusOut()"
    (focusin)="onFocusIn()"
    [placeholder]="input.label"
    [formControl]="formControl"
    [matAutocomplete]="auto" />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <div
        (keydown)="optionClicked($event, option)"
        (click)="optionClicked($event, option)"
        tabindex="0">
        <mat-checkbox
          [checked]="isSelected(option)"
          (change)="toggleSelection(option)"
          (click)="$event.stopPropagation()">
          {{ displayFn(option) }}
        </mat-checkbox>
      </div>
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>

<mat-list *ngIf="selected.length > 0">
  <mat-list-item *ngFor="let select of selected">
    - {{ displayFn(select) }}
  </mat-list-item>
</mat-list>
