<mat-form-field class="container-fluid" appearance="fill">
  <mat-label>{{ input.label }}</mat-label>
  <input
    matInput
    type="text"
    (focusout)="onFocusOut()"
    (focusin)="onFocusIn()"
    [placeholder]="input.label"
    [formControl]="formControl"
    [matAutocomplete]="auto" />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFn">
    @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">
        <div
          (keydown)="optionClicked($event, option)"
          (click)="optionClicked($event, option)"
          tabindex="0">
          <mat-checkbox
            [checked]="isSelected(option)"
            (change)="toggleSelection(option)"
            (click)="$event.stopPropagation()">
            {{ displayFn(option) }}
          </mat-checkbox>
        </div>
      </mat-option>
    }
  </mat-autocomplete>
  @if (formControl.invalid) {
    <mat-error>{{ getErrorMessage() }}</mat-error>
  }
</mat-form-field>

@if (selected.length > 0) {
  <mat-list>
    @for (select of selected; track select) {
      <mat-list-item> - {{ displayFn(select) }} </mat-list-item>
    }
  </mat-list>
}
