.mat-column-select {
  width: 0px;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  float: right;
}

section {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.mat-mdc-card-content {
  height: 100%;
}

.mat-mdc-card-content > p {
  height: 100%;
}
