<table mat-table [dataSource]="dataSource">
  <!-- Name -->
  <ng-container matColumnDef="module">
    <th i18n mat-header-cell *matHeaderCellDef>Modulbezeichnung</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="showLatestModule(element.module.id)"
      [style.color]="tableColor(element)">
      <span class="clickable">{{ title(element) }}</span>
    </td>
  </ng-container>
  <!-- Status -->
  <ng-container matColumnDef="status">
    <th i18n mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip [matTooltip]="tooltip(element)">{{ status(element) }}</mat-chip>
    </td>
  </ng-container>
  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th i18n mat-header-cell *matHeaderCellDef class="align-right">Aktionen</th>
    <td mat-cell *matCellDef="let element">
      <div class="inline">
        <button
          i18n
          mat-stroked-button
          *ngIf="canEdit(element)"
          (click)="editModule(element.module.id)">
          <mat-icon>edit</mat-icon>Bearbeiten
        </button>
        <button
          i18n
          mat-stroked-button
          *ngIf="canPublish(element)"
          (click)="publishModule(element.module.id)">
          <mat-icon>publish</mat-icon>Veröffentlichen
        </button>
        <button
          i18n
          mat-stroked-button
          *ngIf="canRequestReview(element)"
          (click)="requestReview(element.module.id)">
          <mat-icon>approval</mat-icon>Review anfragen
        </button>
        <button
          i18n
          mat-stroked-button
          *ngIf="canCancelReview(element)"
          (click)="cancelReview(element.module.id)">
          <mat-icon>pause</mat-icon>Review zurückziehen
        </button>
        <button
          i18n
          mat-stroked-button
          color="warn"
          *ngIf="canDiscardChanges(element)"
          (click)="discardChanges(element.module.id)">
          <mat-icon>undo</mat-icon>Änderungen verwerfen
        </button>
        <button
          mat-icon-button
          aria-label="Icon button with a vertical three dot icon"
          [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            i18n
            [disabled]="!element.privilegedForModule"
            mat-menu-item
            (click)="openDialog(element.module)">
            Modulberechtigungen setzen
          </button>
        </mat-menu>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selection.toggle(row)"></tr>
</table>
