<h1 mat-dialog-title>{{headerTitle}}</h1>

<div class="modalContainer">
  <mat-card [formGroup]="formGroup">
    <mat-card-content>
      <sched-plain-input
        ngDefaultControl
        [input]="minInput"
        [formControl]="minControl()">
      </sched-plain-input>
      <sched-plain-input
        ngDefaultControl
        [input]="maxInput"
        [formControl]="maxControl()">
      </sched-plain-input>
    </mat-card-content>
  </mat-card>

  <mat-dialog-actions>
    <button type="button"
            mat-flat-button
            (click)="applyChanges()"
            [disabled]="!isValid()"
            color="primary">
      Änderungen Übernehmen
    </button>
    <button type="button"
            mat-flat-button
            (click)="delete()"
            color="warn">
      Löschen
    </button>
    <button type="button"
            mat-flat-button
            (click)="cancel()">
      Schließen
    </button>
  </mat-dialog-actions>
</div>
