<table mat-table [dataSource]="dataSource">
  <!-- Name -->
  <ng-container matColumnDef="title">
    <th i18n mat-header-cell *matHeaderCellDef>Semester</th>
    <td mat-cell *matCellDef="let element" ng-click="showModule(element.module.id)">
      <span i18n class="clickable">Wahlmodulkatalog ({{ element.teachingUnit.deLabel }})</span>
    </td>
  </ng-container>
  <!-- Semester -->
  <ng-container matColumnDef="semester">
    <th i18n mat-header-cell *matHeaderCellDef>Semester</th>
    <td mat-cell *matCellDef="let element">{{element.semester.deLabel}} {{element.semester.year}}</td>
  </ng-container>
  <!-- Actions -->
  <ng-container matColumnDef="download_de">
    <th i18n mat-header-cell *matHeaderCellDef>Aktionen</th>
    <td mat-cell *matCellDef="let element">
      <div class="inline">
        <a [href]="absoluteUrl(element.url)" target="_blank" [class.disabled-link]="!element.url">
          <button i18n mat-stroked-button [disabled]="!element.url"><mat-icon>download</mat-icon>Download</button>
        </a>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
